In [2]:
import matplotlib.pyplot as plt
import time
import datetime as dt
import pickle
import numpy as np
from __future__ import division
from auxiliar_functions import *
import tfe

In [3]:
import auxiliar_functions

In [4]:
frame = pd.read_csv('/home/cata/Documentos/Datois/etapas_2013_abril_allyearsids_10_100000.csv')

In [5]:
frame = frame_config(frame)

In [6]:
#frame.drop(frame.columns[[2,3,4,5,9,10,11,14,15,16]], axis=1, inplace=True)
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 23 to 99994
Data columns (total 23 columns):
tiempo_subida              100000 non-null datetime64[ns]
id                         100000 non-null int64
x_subida                   99224 non-null float64
y_subida                   99224 non-null float64
tipo_transporte            100000 non-null object
serviciosentidovariante    98074 non-null object
tipo_dia                   100000 non-null object
nviaje                     100000 non-null int64
netapa                     100000 non-null int64
x_bajada                   86774 non-null float64
y_bajada                   86774 non-null float64
tiempo_bajada              86774 non-null object
par_subida                 99195 non-null object
par_bajada                 86767 non-null object
zona_subida                99180 non-null float64
zona_bajada                86764 non-null float64
adulto                     86774 non-null float64
weekday                    100000 non-null int64
lat_subida                 94014 non-null float64
lat_bajada                 94014 non-null float64
long_subida                94014 non-null float64
long_bajada                81704 non-null float64
diferencia_tiempo          100000 non-null timedelta64[ns]
dtypes: datetime64[ns](1), float64(11), int64(4), object(6), timedelta64[ns](1)
memory usage: 18.3+ MB

In [7]:
test_sequence = frame.query('id==1132106')

In [8]:
[test_sequence_s ,test_sequence_fds] = tfe.split_sequence_by_weekdays(test_sequence)

In [9]:
shortest_activities_s = tfe.get_mean_shortests_activity_length(test_sequence_s)
longest_activities_s = tfe.get_mean_longest_activity_length(test_sequence_s)
shortest_activities_fds = tfe.get_mean_shortests_activity_length(test_sequence_fds)
longest_activities_fds = tfe.get_mean_longest_activity_length(test_sequence_fds)

In [10]:
print str(shortest_activities_s) + " , " + str(shortest_activities_fds)
print str(longest_activities_s) + " , " + str(longest_activities_fds)

0 days 00:26:16.200000 , 0 days 00:18:38
0 days 09:52:16.400000 , 1 days 23:16:58

In [11]:
latlong1 = (test_sequence_fds['lat_subida'][0],test_sequence_fds['long_subida'][0])
latlong2 = (test_sequence_fds['lat_bajada'][0],test_sequence_fds['long_bajada'][0])

In [12]:
latlong1

(-33.52627672709, -70.635551439884395)

In [13]:
latlong2

(-33.52627672709, -70.6477859181593)

In [14]:
tfe.get_traveled_distance(test_sequence)

221.22859034150613

In [15]:
tfe.get_maximum_travel_distance(test_sequence)

16.64618851242621

In [16]:
tfe.get_minimum_travel_distance(test_sequence)

1.136515222708523

In [17]:
tfe.get_percentage_bus_exclusive_days(test_sequence)

100.0

In [18]:
tfe.get_percentage_rail_exclusive_days(test_sequence)

0.0

In [19]:
tfe.get_card_type(test_sequence)

0

In [21]:
tfe.get_n_days_traveled(test_sequence)

7

In [22]:
tfe.get_n_trips_per_day(test_sequence)

[3, 1, 2, 2, 2, 0, 1, 2]

In [23]:
tfe.get_mean_start_time_first_trip(test_sequence)

33061

In [24]:
tfe.get_mean_start_time_last_trip(test_sequence)

67229

In [25]:
auxiliar_functions.seconds_to_hour(67229)

'18:40:29'

In [61]:
reload(tfe)

In [62]:
tfe.get_percentage_different_last_origin(test_sequence)

[57.14285714285714,
 ['T-22-205-SN-65',
  'T-15-135-OP-110',
  'T-15-135-OP-110',
  'T-15-135-OP-110',
  'T-15-135-OP-105',
  'T-22-205-SN-65',
  'E-20-199-NS-2']]

In [54]:
tfe.get_percentage_different_first_origin(test_sequence)

[['T-22-205-SN-65',
  'T-22-205-SN-65',
  'T-15-135-OP-110',
  'T-15-135-OP-110',
  'T-15-135-OP-110',
  'T-15-135-OP-105',
  'T-22-205-SN-65'],
 42.857142857142854]

In [63]:
4.0/7*100

57.14285714285714