In [1]:
import matplotlib.pyplot as plt
import time
import datetime as dt
import pickle
import numpy as np
from __future__ import division
from auxiliar_functions import *
import tfe

In [2]:
frame = pd.read_csv('/home/cata/Documentos/Datois/etapas_2013_abril_allyearsids_10_100000.csv')

In [3]:
frame = frame_config(frame)

In [94]:
#frame.drop(frame.columns[[2,3,4,5,9,10,11,14,15,16]], axis=1, inplace=True)
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 23 to 99994
Data columns (total 23 columns):
tiempo_subida              100000 non-null datetime64[ns]
id                         100000 non-null int64
x_subida                   99224 non-null float64
y_subida                   99224 non-null float64
tipo_transporte            100000 non-null object
serviciosentidovariante    98074 non-null object
tipo_dia                   100000 non-null object
nviaje                     100000 non-null int64
netapa                     100000 non-null int64
x_bajada                   86774 non-null float64
y_bajada                   86774 non-null float64
tiempo_bajada              86774 non-null object
par_subida                 99195 non-null object
par_bajada                 86767 non-null object
zona_subida                99180 non-null float64
zona_bajada                86764 non-null float64
adulto                     86774 non-null float64
weekday                    100000 non-null int64
lat_subida                 94014 non-null float64
lat_bajada                 94014 non-null float64
long_subida                94014 non-null float64
long_bajada                81704 non-null float64
diferencia_tiempo          100000 non-null timedelta64[ns]
dtypes: datetime64[ns](1), float64(11), int64(4), object(6), timedelta64[ns](1)
memory usage: 18.3+ MB

In [5]:
test_sequence = frame.query('id==1132106')

In [7]:
[test_sequence_s ,test_sequence_fds] = tfe.split_sequence_by_weekdays(test_sequence)

In [8]:
shortest_activities_s = tfe.get_mean_shortests_activity_length(test_sequence_s)
longest_activities_s = tfe.get_mean_longest_activity_length(test_sequence_s)
shortest_activities_fds = tfe.get_mean_shortests_activity_length(test_sequence_fds)
longest_activities_fds = tfe.get_mean_longest_activity_length(test_sequence_fds)

In [9]:
print str(shortest_activities_s) + " , " + str(shortest_activities_fds)
print str(longest_activities_s) + " , " + str(longest_activities_fds)

0 days 00:26:16.200000 , 0 days 00:18:38
0 days 09:52:16.400000 , 1 days 23:16:58

In [60]:
test_sequence

,tiempo_subida,id,x_subida,y_subida,tipo_transporte,serviciosentidovariante,tipo_dia,nviaje,netapa,x_bajada,...,par_bajada,zona_subida,zona_bajada,adulto,weekday,lat_subida,lat_bajada,long_subida,long_bajada,diferencia_tiempo
23,2013-04-14 06:45:44,1132106,348108,6289153,BUS,T203 00R,DOMINGO,1,1,346818,...,E-20-190-SN-40,328,307,0,6,-33.526277,-33.526277,-70.635551,-70.647786,0 days 00:00:00
22,2013-04-14 07:51:52,1132106,346751,6299389,BUS,T502 00I,DOMINGO,2,1,351363,...,T-15-135-PO-5,307,188,0,6,-33.434116,-33.434116,-70.648104,-70.598251,0 days 01:06:08
21,2013-04-14 19:56:47,1132106,351368,6302559,BUS,T502 00R,DOMINGO,3,1,346763,...,T-4-19-NS-100,188,55,0,6,-33.405971,-33.405971,-70.598379,-70.648651,0 days 12:04:55
20,2013-04-14 20:15:25,1132106,346713,6299427,BUS,T203 00I,DOMINGO,3,2,348095,...,T-24-205-NS-20,307,348,0,6,-33.433463,-33.433463,-70.649060,-70.635944,0 days 00:18:38
19,2013-04-15 21:04:59,1132106,348103,6289191,BUS,T206 00R,LABORAL,4,1,346844,...,T-20-190-SN-35,328,309,0,0,-33.526277,-33.526277,-70.635551,-70.647429,1 days 00:49:34
18,2013-04-15 21:41:14,1132106,346724,6299394,BUS,T502 00I,LABORAL,4,2,351382,...,T-15-135-PO-5,266,188,0,0,-33.433236,-33.433236,-70.653896,-70.598251,0 days 00:36:15
17,2013-04-16 07:28:39,1132106,351356,6302557,BUS,T502 00R,LABORAL,5,1,346750,...,T-4-19-NS-100,188,55,0,1,-33.405971,-33.405971,-70.598379,-70.648651,0 days 09:47:25
16,2013-04-16 07:53:14,1132106,346719,6299432,BUS,T206 06I,LABORAL,5,2,348101,...,T-24-205-NS-20,307,348,0,1,-33.433463,-33.433463,-70.649060,-70.635944,0 days 00:24:35
15,2013-04-16 21:01:21,1132106,348111,6289112,BUS,T203 00R,LABORAL,6,1,346815,...,E-20-190-SN-40,330,307,0,1,-33.529157,-33.529157,-70.635293,-70.647786,0 days 13:08:07
14,2013-04-16 21:31:20,1132106,346747,6299384,BUS,T502 00I,LABORAL,6,2,351404,...,T-15-135-PO-5,307,188,0,1,-33.434116,-33.434116,-70.648104,-70.598251,0 days 00:29:59
13,2013-04-17 07:19:15,1132106,351382,6302585,BUS,T502 00R,LABORAL,7,1,346745,...,T-4-19-NS-100,188,55,0,2,-33.405971,-33.405971,-70.598379,-70.648651,0 days 09:47:55
12,2013-04-17 07:43:33,1132106,346714,6299401,BUS,T206 00I,LABORAL,7,2,348075,...,T-24-205-NS-20,307,348,0,2,-33.433463,-33.433463,-70.649060,-70.635944,0 days 00:24:18
11,2013-04-17 20:59:14,1132106,348104,6289158,BUS,T203 00R,LABORAL,8,1,346816,...,E-20-190-SN-40,328,307,0,2,-33.526277,-33.526277,-70.635551,-70.647786,0 days 13:15:41
10,2013-04-17 21:33:58,1132106,346753,6299384,BUS,T502 00I,LABORAL,8,2,351352,...,T-15-135-PO-5,307,188,0,2,-33.434116,-33.434116,-70.648104,-70.598251,0 days 00:34:44
9,2013-04-18 07:48:06,1132106,351373,6302574,BUS,T502 00R,LABORAL,9,1,346756,...,T-4-19-NS-100,188,55,0,3,-33.405971,-33.405971,-70.598379,-70.648651,0 days 10:14:08
8,2013-04-18 08:17:33,1132106,346721,6299433,BUS,T206 E0 07I,LABORAL,9,2,348114,...,T-24-205-NS-30,307,350,0,3,-33.433463,-33.433463,-70.649060,-70.635353,0 days 00:29:27
7,2013-04-18 20:56:48,1132106,348103,6289175,BUS,T203 00R,LABORAL,10,1,346815,...,E-20-190-SN-40,328,307,0,3,-33.526277,-33.526277,-70.635551,-70.647786,0 days 12:39:15
6,2013-04-18 21:26:19,1132106,346776,6299378,BUS,T502 00I,LABORAL,10,2,351353,...,T-15-135-PO-5,307,188,0,3,-33.434116,-33.434116,-70.648104,-70.598251,0 days 00:29:31
5,2013-04-19 07:08:23,1132106,351414,6302620,BUS,T502 00R,LABORAL,11,1,346664,...,T-4-19-NS-100,188,55,0,4,-33.403702,-33.403702,-70.595950,-70.648651,0 days 09:42:04
4,2013-04-19 07:25:09,1132106,346717,6299455,BUS,T203 00I,LABORAL,11,2,NaN,...,NaN,307,NaN,NaN,4,-33.433463,-33.433463,-70.649060,NaN,0 days 00:16:46
3,2013-04-21 06:42:07,1132106,348110,6289140,BUS,T203 00R,DOMINGO,12,1,346813,...,E-20-190-SN-40,328,307,0,6,-33.526277,-33.526277,-70.635551,-70.647786,1 days 23:16:58
2,2013-04-21 07:12:35,1132106,346722,6299393,BUS,T502 00I,DOMINGO,12,2,351366,...,T-15-135-PO-5,266,188,0,6,-33.433236,-33.433236,-70.653896,-70.598251,0 days 00:30:28
1,2013-04-21 19:35:52,1132106,351378,6302574,BUS,T502 00R,DOMINGO,13,1,346761,...,T-4-19-NS-100,188,55,0,6,-33.405971,-33.405971,-70.598379,-70.648651,0 days 12:23:17
0,2013-04-21 19:55:16,1132106,346723,6299454,BUS,T203 00I,DOMINGO,13,2,348100,...,T-24-205-NS-20,307,348,0,6,-33.433463,-33.433463,-70.649060,-70.635944,0 days 00:19:24

In [11]:
latlong1 = (test_sequence_fds['lat_subida'][0],test_sequence_fds['long_subida'][0])
latlong2 = (test_sequence_fds['lat_bajada'][0],test_sequence_fds['long_bajada'][0])

In [12]:
print(vincenty(latlong1,latlong2).meters)

1136.51522271

In [13]:
latlong1

(-33.52627672709, -70.635551439884395)

In [14]:
latlong2

(-33.52627672709, -70.6477859181593)

In [16]:
if 1<2:
    print "hjola"
elif 2<3:
    print "chao"

hjola

In [48]:
tfe.get_traveled_distance(test_sequence)

221.22859034150613

In [49]:
tfe.get_maximum_travel_distance(test_sequence)

16.64618851242621

In [66]:
tfe.get_minimum_travel_distance(test_sequence)

1.136515222708523

In [92]:
tfe.get_percentage_bus_exclusive_days(test_sequence)

100.0

In [93]:
tfe.get_percentage_rail_exclusive_days(test_sequence)

0.0

In [99]:
tfe.get_card_type(test_sequence)

0

In [100]:
reload(tfe)

In [ ]:
tfe.get_n_days_traveled(test_sequence)