In [1]:
import matplotlib.pyplot as plt
import time
import datetime as dt
import pickle
import numpy as np
from __future__ import division
from auxiliar_functions import *
import tfe

In [3]:
frame = pd.read_csv('/home/cata/Documentos/Datois/etapas_2013_abril_allyearsids_10_100000.csv')

In [4]:
frame = frame_config(frame)

In [7]:
#frame.drop(frame.columns[[2,3,4,5,9,10,11,14,15,16]], axis=1, inplace=True)
frame.head()

,tiempo_subida,id,x_subida,y_subida,tipo_transporte,serviciosentidovariante,tipo_dia,nviaje,netapa,x_bajada,...,par_bajada,zona_subida,zona_bajada,adulto,weekday,lat_subida,lat_bajada,long_subida,long_bajada,diferencia_tiempo
23,2013-04-14 06:45:44,1132106,348108,6289153,BUS,T203 00R,DOMINGO,1,1,346818,...,E-20-190-SN-40,328,307,0,6,-33.526277,-33.526277,-70.635551,-70.647786,0 days 00:00:00
22,2013-04-14 07:51:52,1132106,346751,6299389,BUS,T502 00I,DOMINGO,2,1,351363,...,T-15-135-PO-5,307,188,0,6,-33.434116,-33.434116,-70.648104,-70.598251,0 days 01:06:08
21,2013-04-14 19:56:47,1132106,351368,6302559,BUS,T502 00R,DOMINGO,3,1,346763,...,T-4-19-NS-100,188,55,0,6,-33.405971,-33.405971,-70.598379,-70.648651,0 days 12:04:55
20,2013-04-14 20:15:25,1132106,346713,6299427,BUS,T203 00I,DOMINGO,3,2,348095,...,T-24-205-NS-20,307,348,0,6,-33.433463,-33.433463,-70.649060,-70.635944,0 days 00:18:38
19,2013-04-15 21:04:59,1132106,348103,6289191,BUS,T206 00R,LABORAL,4,1,346844,...,T-20-190-SN-35,328,309,0,0,-33.526277,-33.526277,-70.635551,-70.647429,1 days 00:49:34

In [10]:
test_sequence_5 = frame.query('id==1261466')
test_sequence_1187 = frame.query('id==50264508')
test_sequence_0 = frame.query('id==1132106')
test_sequence_9 = frame.query('id==1355530')
test_sequence_2168 = frame.query('id==59460077')
test_sequence_3696 = frame.query('id==68660100')
test_sequence_4150= frame.query('id==70321252')

In [11]:
test_sequence = test_sequence_0
[test_sequence_s ,test_sequence_fds] = tfe.split_sequence_by_weekdays(test_sequence)

In [12]:
shortest_activities_s = tfe.get_mean_shortests_activity_length(test_sequence_s)
longest_activities_s = tfe.get_mean_longest_activity_length(test_sequence_s)
shortest_activities_fds = tfe.get_mean_shortests_activity_length(test_sequence_fds)
longest_activities_fds = tfe.get_mean_longest_activity_length(test_sequence_fds)

In [13]:
print str(shortest_activities_s) + " , " + str(shortest_activities_fds)
print str(longest_activities_s) + " , " + str(longest_activities_fds)

0 days 00:26:16.200000 , 0 days 00:18:38
0 days 09:52:16.400000 , 1 days 23:16:58

In [14]:
latlong1 = (test_sequence_fds['lat_subida'][0],test_sequence_fds['long_subida'][0])
latlong2 = (test_sequence_fds['lat_bajada'][0],test_sequence_fds['long_bajada'][0])

In [17]:
tfe.get_traveled_distance(test_sequence)

221.22859034150613

In [18]:
tfe.get_maximum_travel_distance(test_sequence)

16.64618851242621

In [19]:
tfe.get_minimum_travel_distance(test_sequence)

1.136515222708523

In [20]:
tfe.get_percentage_bus_exclusive_days(test_sequence)

100.0

In [21]:
tfe.get_percentage_rail_exclusive_days(test_sequence)

0.0

In [22]:
tfe.get_card_type(test_sequence)

0

In [23]:
tfe.get_n_days_traveled(test_sequence)

7

In [24]:
tfe.get_n_trips_per_day(test_sequence)

[3, 1, 2, 2, 2, 0, 1, 2]

In [25]:
tfe.get_mean_start_time_first_trip(test_sequence)

33061

In [26]:
tfe.get_mean_start_time_last_trip(test_sequence)

67229

In [27]:
tfe.get_percentage_different_last_origin(test_sequence)

57.14285714285714

In [28]:
tfe.get_percentage_different_first_origin(test_sequence)

42.857142857142854

In [29]:
tfe.get_n_different_locations(test_sequence)

5

In [30]:
tfe.get_radius_of_gyration(test_sequence)

5450.200714686222

In [31]:
tfe.get_radius_of_gyration(test_sequence_fds)

5421.7724863375815

In [32]:
tfe.get_radius_of_gyration(test_sequence_s)

5464.2820177023395

In [33]:
tfe.get_unc_entropy(test_sequence)

2.5545851693377997

In [34]:
tfe.get_random_entropy(test_sequence)

2.3219280948873622

In [35]:
tfe.get_frequence_regularity(test_sequence)

4

In [36]:
tfe.get_entropy(test_sequence)

2.5216406363433181

In [59]:
chronology = tfe.get_chronology(test_sequence,latlong1[0],latlong1[1])
traveled_days = tfe.get_n_days_traveled(test_sequence)
window = traveled_days*24*60 # 8 dias en minutos

7

In [60]:
tfe.get_regularity(chronology,window*1.0/2)

/home/cata/anaconda2/lib/python2.7/site-packages/scipy/integrate/quadpack.py:352: IntegrationWarning: The maximum number of subdivisions (50) has been achieved.
  If increasing the limit yields no improvement it is advised to analyze
  the integrand in order to determine the difficulties.  If the position of a
  local difficulty can be determined (singularity, discontinuity) one will
  probably gain from splitting up the interval and calling the integrator
  on the subranges.  Perhaps a special-purpose integrator should be used.
  warnings.warn(msg, IntegrationWarning)

2.1903473824222157

In [ ]:
tfe.get_ROIs(test_sequence,0.95)