In [25]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import pickle
from __future__ import division
import csv
import tpm_identification
from auxiliar_functions import *
import datetime

In [2]:
dict_metro = load_metro_dictionary()

In [3]:
frame = pd.read_csv('/home/cata/Documentos/Datois/etapas_2013_abril_allyearsids_10_100000.csv')
frame['tiempo_subida'] = pd.to_datetime(frame.tiempo_subida)
frame = frame.sort_values(by=['id', 'tiempo_subida'])
frame.head()

,tiempo_subida,id,x_subida,y_subida,tipo_transporte,serviciosentidovariante,tipo_dia,nviaje,netapa,x_bajada,y_bajada,tiempo_bajada,par_subida,par_bajada,zona_subida,zona_bajada,adulto
23,2013-04-14 06:45:44,1132106,348108.0,6289153.0,BUS,T203 00R,DOMINGO,1,1,346818.0,6299394.0,2013-04-14 07:07:02,T-22-205-SN-65,E-20-190-SN-40,328.0,307.0,0.0
22,2013-04-14 07:51:52,1132106,346751.0,6299389.0,BUS,T502 00I,DOMINGO,2,1,351363.0,6302549.0,2013-04-14 08:04:11,E-20-291-PO-20,T-15-135-PO-5,307.0,188.0,0.0
21,2013-04-14 19:56:47,1132106,351368.0,6302559.0,BUS,T502 00R,DOMINGO,3,1,346763.0,6299568.0,2013-04-14 20:09:11,T-15-135-OP-110,T-4-19-NS-100,188.0,55.0,0.0
20,2013-04-14 20:15:25,1132106,346713.0,6299427.0,BUS,T203 00I,DOMINGO,3,2,348095.0,6289148.0,2013-04-14 20:40:51,E-20-199-NS-2,T-24-205-NS-20,307.0,348.0,0.0
19,2013-04-15 21:04:59,1132106,348103.0,6289191.0,BUS,T206 00R,LABORAL,4,1,346844.0,6299320.0,2013-04-15 21:33:23,T-22-205-SN-65,T-20-190-SN-35,328.0,309.0,0.0

In [4]:
df_id_period = pd.read_csv('/home/cata/Documentos/Datois/etapas_2013_septiembre_allyearsids_10_100000.csv')
df_id_period['tiempo_subida'] = pd.to_datetime(df_id_period.tiempo_subida)
df_id_period = df_id_period.sort_values(by=['id', 'tiempo_subida'])

In [35]:
reload(tpm_identification)

In [36]:
profiles = tpm_identification.get_spatiotemporal_profiles(frame['id'],frame['tiempo_subida'],frame['par_subida'],frame['par_bajada'])

In [37]:
sequences = tpm_identification.get_sequences()

           0         1         2    3         4    5
0        NaN       NaN       NaN  NaN       NaN  NaN
1   0.000000  1.000000  0.000000  0.0  0.000000  0.0
2        NaN       NaN       NaN  NaN       NaN  NaN
3   0.000000  0.666667  0.000000  0.0  0.333333  0.0
4        NaN       NaN       NaN  NaN       NaN  NaN
5   0.000000  0.000000  0.500000  0.0  0.500000  0.0
6        NaN       NaN       NaN  NaN       NaN  NaN
7   0.000000  0.000000  1.000000  0.0  0.000000  0.0
8   0.000000  0.000000  0.000000  1.0  0.000000  0.0
9   0.000000  0.000000  0.000000  1.0  0.000000  0.0
10       NaN       NaN       NaN  NaN       NaN  NaN
11  0.000000  0.000000  0.000000  1.0  0.000000  0.0
12  0.000000  0.000000  0.000000  0.0  1.000000  0.0
13  0.000000  0.000000  0.000000  0.0  1.000000  0.0
14       NaN       NaN       NaN  NaN       NaN  NaN
15  1.000000  0.000000  0.000000  0.0  0.000000  0.0
16       NaN       NaN       NaN  NaN       NaN  NaN
17  0.000000  0.000000  0.000000  0.0  0.000000  1.0
18       NaN       NaN       NaN  NaN       NaN  NaN
19  0.000000  0.000000  0.000000  0.0  0.000000  1.0
20       NaN       NaN       NaN  NaN       NaN  NaN
21  0.666667  0.000000  0.333333  0.0  0.000000  0.0
22       NaN       NaN       NaN  NaN       NaN  NaN
23  1.000000  0.000000  0.000000  0.0  0.000000  0.0